@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-foreground-rgb: 0 0 0;
    --color-background-start-rgb: 214 219 220;
    --color-background-end-rgb: 255 255 255;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    /* Background handled by Tailwind classes */
}